.small-text {
    font-size: 0.8rem;
}

#new-item-page ion-item {
    --inner-padding-end: 0;
    --background: transparent;
}

#new-item-page ion-label {
    margin-top: 12px;
    margin-bottom: 12px;
}

#new-item-page ion-item h2 {
    font-weight: 600;
}

#new-item-page ion-item .date {
    float: right;
    align-items: center;
    display: flex;
}

#new-item-page ion-item ion-icon {
    margin-right: 8px;
}

#new-item-page .header-icon {
    font-size: 42px;
}

#new-item-page ion-item ion-note {
    font-size: 15px;
    margin-right: 12px;
    font-weight: normal;
}

#new-item-page h1 {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}

#new-item-page p {
    line-height: 22px;
}
